---
pageable: true
per_page: 10
---

<% page_articles.each_with_index do |article, i| %>
  <h2 class="is-size-4 title"><%= article.title %></h2>
  <div class="content">
    <span class="is-size-6 has-text-grey-light"><%= article.date.strftime("%B %e, %Y") %></span>
    <% article.tags.each do |tag| %>
      <span class="tag is-light"><%= tag %></span>
    <% end %>
  </div>
  <%= article.body %>
  <div class="section">
    <hr>
  </div>
<% end %>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>

  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
